@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) { */
/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .desktop {
    @apply hidden sm:flex;
  }

  .mobile {
    @apply flex sm:hidden;
  }

  .base-padding-x {
    @apply px-6 sm:px-16;
  }

  .story-hero-image-margin-x {
    @apply -mx-6 sm:-mx-16;
  }

  .app-bg {
    @apply dark:bg-dark-bg dark:text-dark-text bg-light-bg text-light-text;
  }
}
